
/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Navigation */
header {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; /* Removes the default dot */
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: black; /* Modify as needed */
    padding: 15px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.news-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-item img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.news-item.large {
    grid-column: span 2;
    grid-row: span 2;
}

.news-item.medium {
    grid-column: span 2;
    grid-row: span 1;
}

.news-item.small {
    grid-column: span 1;
    grid-row: span 1;
}

.news-link {
    text-decoration: none;
    color: #333;
}

.news-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.news-content p {
    font-size: 1em;
    line-height: 1.6;
}

.news-link:hover h2 {
    color: #e63946;
}
/* Footer Styling */
footer {
    background-color: #DFDFDF;
    color: #5C5753;
    padding: 40px 0;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}


footer {
    background-color: #DFDFDF;
    color: #5C5753;
    padding: 40px 0;
    text-align: center;
    position: relative;
    bottom: 50px;
    
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.company-info h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    color: #000000;
}

.footer-links {
    display: flex;
    gap: 40px; /* Space between each column */
    left: 50px;
}

.footer-column {
    text-align: left;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    color: #5C5753;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #000000;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

/* Footer Copyright */
footer p {
    margin-top: 30px;
    font-size: 14px;
    color: #999999;
    position: relative;
    right: 530px;
    bottom: 130px;
}